################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calculator/Calculator/obj
/Calculator/Calculator/bin/Debug/net7.0
/Calculator/.vs/Calculator
